* {margin: 0; padding: 0;}
body { background-color: #fffde7;}

/* 메뉴 */

.header_menu {
  width: 1200px;
  margin: 0 auto;
  text-align: right;
  padding-right: 20px;
}

.header_menu a {
color: #fff;
padding: 8px 0 6px 10px;
display: inline-block;
transition: color 0.3s ease;
font-family: 'Abel', sans-serif;
}

.header_menu a:hover {
  color: #ccc;
}

/* 프로필 */
.profile_pic {
  width: 25%;
  height: width;
  margin-top: 100px;
  margin-left: 250px;
  /* padding: center; */
  /* display: flex; /*반응형 웹에서 div간의 정렬을 위해서 사_*/ */
  /* justify-content: center; /* 가로 중앙정렬 */
  /* display: inline-block; */
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  border-radius: 300px;
  border: 3px;
  background-color: #000000;
}

.profile_info {
  /* margin-top: 30px; */
  /* padding: 8px 0 6px 10px; */

  /* flex-direction:column; */
  flex-direction: row;
  /* align-items: center; */
}

.profile_info p {
  color: #fff;
  transition: color 0.3s ease;
  font-family: 'Abel', sans-serif;
  display: inline-grid;
}







header {
  width: 100%;
  height: 500px;
  /* background: url(../img/airpod.jpg) repeat-x center top; */
  background-color: #00002D;
 }

.certification {overflow: hidden; padding: 5%; width: 90%; height: 300px; background-color: #ffd54f; }
.certification > div {
  width: 13%;
  margin: 1%;
  height: 150px;
  background-color: #ff9800;
  float:left;
  border-radius: 70px;
}

.project {overflow: hidden; padding: 5%; width: 90%;background-color: #ffca28;}
.project > div {
  width: 18%;
  margin: 1%;
  height: 170px;
  background-color: #ff9800;
  float: left;
  border-radius: 5px;
}

.contact {width: 100%; height: 100px; background-color: #ffb300}

/* 화면 너비 0 ~ 1200px */
@media (max-width: 1220px){
    #wrap {width: 100%;}
    .project > div {width: 23%;}
    .project > div:nth-child(5n) {display:block;}
    .certification > div {width: 23%;}
    .certification > div:nth-child(6n) {display:block;}
}

/* 화면 너비 0 ~ 768px */
@media (max-width: 768px){
    .project > div {width: 31.3333%;}
    .project > div:nth-child(5n) {display: block;}
    .certification > div {width: 31.3333%;}
    .certification > div:nth-child(6n) {display: block;}
}

    /* 화면 너비 0 ~ 480px */
@media (max-width: 480px){
    .project > div {width: 48%;}
    .project > div:nth-child(5n) {display: block;}
    .certification > div {width: 48%;}
    .certification > div:nth-child(6n) {display: block;}
}


/* #wrap .header_profile{
  background: url(../img/profile.jpg);
  width: 300px;
  border-width: 3px;
  border-color: #000000;
} */
